<div class="row no-gutters" >
  <div class="col-2">
    <button class="btn btn-secondary btn-block"
    (click)="removeFromCart()">-</button>
  </div>
  <div class="col text-center">
    {{ shoppingCart.getQuantity(product) }} in cart
  </div>
  <div class="col-2">
    <button class="btn btn-secondary btn-block"
    (click)="addToCart()">+</button>
  </div>
</div>