<div class="sticky-top">
  <div class="list-groups ">
    <a
      class="list-group-item list-group-item-action"
      [class.active]="!category"
      routerLink="/"
      >All Categories</a
    >
    <a
      *ngFor="let c of categories$ | async"
      routerLink="/"
      [queryParams]="{ category: c.name }"
      class="list-group-item list-group-item-action"
      [class.active]="category === c.name"
    >
      {{ c.name }}
    </a>
  </div>
</div>
