<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
      <a class="navbar-brand" routerLink="/">O</a>
      <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed" >
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <i class="fas fa-shopping-cart" style="padding: 5px"></i>
              <span class="badge badge-warning badge-pill " *ngIf="cart$ | async as cart" >
                {{cart.totalItemsCount}}
              </span>
            </a>
          </li>
          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
    
          <li
            ngbDropdown
            *ngIf="appUser; else anonymousUser"
            class="nav-item dropdown "
          >
            <a
              ngbDropdownToggle
              class="nav-link dropdown-toggle"
              id="dropdown01"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >{{ appUser.name }}</a
            >
            <div
              ngbDropdownMenu
              class="dropdown-menu "
              aria-labelledby="dropdown01"
            >
              <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/orders"
                  >Manage Orders</a
                >
                <a class="dropdown-item" routerLink="/admin/products"
                  >Manage Products</a
                >
              </ng-container>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </li>
        </ul>
      </div>

  </div>
  
</nav>
