<div *ngIf="product.title" class="card">
  <img
    [src]="product.imageUrl"
    class="card-img-top"
    *ngIf="product.imageUrl"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency }}</p>
  </div>
  <div class="card-footer" *ngIf="showActions  && shoppingCart">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>
